@media (max-width: 768px) {
    .name .heart {
        width: 30px;
        height: 30px;
    }
    .heart:before, .heart:after {
        width: 30px;
        height: 30px;
    }
    .heart:before {
        top: -18px;
        left: 0;
    }
    .heart:after {
        left: 18px;
        top: 0;
    }
    /* .bottom, .front, .left, .back, .right {
        width: 72%;
    } */
    .front {
        transform: translateZ(49px);
    }
    .back {
        transform: translateZ(-50px) rotateY(180deg) rotateX(0);
    }

    .lid-left, .lid-back, .lid-right, .lid-front {
        height: 30px;
    }

    .lid-top, .lid-left, .lid-back, .lid-right, .lid-front {
        width: 110px;
    }
    .lid-top {
        height: 110px;
    }
    .lid-front {
        transform: translateZ(54px);
    }
    .lid-back {
        transform: translateZ(-54px) rotateY(180deg);
    }
    .present {
        width: 100px;
        height: 100px;
        left: 10px;
        margin: 30px 0 190px 35px;
    }
    .gift:after {
        bottom: -43px;
        left: 20px;
    }
    .gift::before {
        bottom: 0;
        left: 0;
        top: -47px;
        left: -28px;
    }
    .present.open .front {
        transform: translateZ(44px) rotateX(-90deg);
    }
    .present.open .back {
        transform: translateZ(-44px) rotateY(180deg) rotateX(-90deg);
    }
    .rotate-container {
        transform: rotateY(170deg);
    }
    
    .music-box {
        height: 80px;
    }

    .hide {
        height: 0px;
    }
    
    .show {
        height: 80px;
    }
    .music-box .img-music, .music-control {
        line-height: 80px;
        width: 50px;
    }
    .button-music {
        padding: 30px 10px;
        width: 20%;
    }
    .santa {
        width: 100% !important;
        margin-left: 100px;
    }
    .content {
        margin-top: 15px;
    }
    .pc {
        display: none;
    }
    .slider {
        width: 100%;
        margin: 90px auto;
    }
    .slider.pc {
        display: none;
    }
    .box-img-sp{
        position: relative;
        margin-top: 80px;
        min-height: 493px;
    }
    .box-img-sp-1 {
        position: relative;
        margin-top: 10px;
        min-height: 493px;
    }
    .container {
        min-height: 100vh;
        background: linear-gradient(#739ebd, #74a6c9, #fff);
        margin: 0;
        padding: 0;
    }
    #waveform {
        position: absolute;
        top: 0;
        width: 100%;
        left: 17%;
    }
    .image-sp {
        min-height: 500px;
    }
    .note {
        width: 50px;
        position: absolute;
        top: 8px;
        left: 57px;
    }
    .box-title {
       
        padding: 0 15px;
    }

    .disable {
        display: none;
    }

    .box-title h4 {
        color: rgb(136, 27, 27);
    }

    .box-title h5 {
        color: rgb(194, 135, 27);
    }
    .disable {
        display: none;
    }
    .mess-hint {
        margin-top: 10px;
        border-radius: 20px;
        padding: 10px 10px;
    }
    .btn-hint {
        width: 39px;
        height: 39px;
        text-align: center;
        background: #fffff7;
        display: flex;
        font-size: 28px;
        justify-content: center;
    }

}

@media (min-width: 769px) {
    .sp {
        display: none;
    }
    .box-img-sp {
        display: none;
    }
    .box-img-sp-1 {
        display: none;
    }
    #waveform {
        position: absolute;
        top: 0;
        width: 68%;
        left: 17%;
    }
    .image-sp {
       display: none;
    }
    .note {
        width: 50px;
        position: absolute;
        top: 8px;
        left: 100px;
    }
    .message-pc  h4 {
        font-weight: 600;
        font-size: 26px;
        color: rgb(240, 240, 240);
    }
    .message-pc h5 {
        font-size: 24px;
        font-weight: 600;
        color: rgb(255, 254, 254);
    }
    .disable {
        display: none;
    }
    .mess-no {
        margin-top: 20px;
        background-color: #74a6c9;
        border-radius: 20px;
        padding: 20px 10px;
    }
    .mess-hint {
        margin-top: 20px;
        background-color: #74a6c9;
        border-radius: 20px;
        padding: 20px 10px;
    }
    .btn-hint {
        width: 39px;
        height: 39px;
        text-align: center;
        background: #fffff7;
        display: flex;
        font-size: 28px;
        justify-content: center;
    }

}